*{
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.about{

    background-color: black;
    color: white;
   
}

.about p{

    color: white;
    margin-left: 3px;
}
.about a{

    margin-right: 4px;
    margin-left: 12px;
    float: left;
}

.contact a{

    
    display:block;
    width:150px;
    height:30px;
    margin-top: 10px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
    
}

.skills a{

    display: block;
    width: 70px;
    height: 20px;
    background-color: black;
    color: white;
    margin-top: 7px;
}

@media(min-width:720px){

    body{

        flex-direction: row;
        flex-wrap: wrap;
    }

    .back{
        width: 100%;
    }

    .about{

        width: 28%;
        height:100vh;
        
    }

    .continut{

        width: 68%;
        margin-left: 15px;
    }

    h1{
        margin-top: 0px;
    }

    .back2{

        margin-top: 20px;
        border-top: 1px solid gray;
    }



}


@media(min-width:1020px){

    body{

        flex-direction: row;
        flex-wrap: wrap;
    }


    .continut{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        order: 2;

        align-items: flex-start;
            justify-content: flex-start;
    }

    .about{
        order: 0;
        width:25%;
        column-gap: 0px;
        display: flex;
        flex-direction: column;
    }
    
    .back{
        width: 100%;
        height:50px;
        
        border-bottom: 1px solid grey;
        order: 0;
    }

    .quote{

        width: 69%;
        height: 80%;
    }
   

    .skills{

        display: flex;
        flex-direction: column;
        width: 208px;
        align-items: center;
    }

    .back2{

        width: 100%;
    }

    

  



}