*{
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 12px;
    
}

.about{

    background-color: black;
    color: white;
   
}

.about a{

    margin-right: 4px;
    float: left;
}

@media(min-width:720px){

    body{

        flex-direction: row;
        flex-wrap: wrap;
    }

    .about{

        width: 100%;

    }

    .quote{

        width: 80%;
        margin-left: 45px;
    }

    .pictures{

        margin-top: 20px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pictures div{

        margin-left: 50px;
    }

}


@media(min-width:1020px){


    body{

        flex-direction: row;
        flex-wrap: wrap;
    }

    .about{

        height: 700px;
        width:160px;
    }

    .continut{

        width: 83%;
    }

    .quote{

        font-size: 17px;
        width: 700px;
    }

    .pictures{


        width: 100%;
        margin-right: 0px;
    }

    .pictures div{

        margin-left: 10px;
        margin-top: 30px;
        border-top: 1px solid grey;

    }






}